body {
     font-family: Caladea, Cambria, Georgia, serif;
     margin: 0px auto;
     text-align: center;
     color: #443333; 
     background-color: #EFEFEE;
     line-height:1.6;      
}

h1 {
height:70px;
margin: 0px;
padding: 0px 10px;
font-size: 250%;
font-weight: bold;
border:0;
background-color:#443333;
color:#EFEFEE;
}

H1 a{
text-decoration: none;
}

a {
text-decoration: underline;
}

a:link {
color: #3F5767;
}

a:visited {
color: #8F3F67;
}

a:active {
color: #8FABBE;
}

a:hover {
color: #006699;
}




#navlinks {
	       margin:auto;

           }
#navlinks a { 
        	 font-size:large;
            padding:3px 5px 3px 5px;

          }
#main {
	width: 100%;
    max-width: 1024px;
    height: auto;
    margin:auto;}

#messages {
      	padding: 10px;
      	max-width:700px;
      	margin: auto;
      	text-align: left;
      }


#footer {
        text-align:center;
        font-size:small;
        }
        
        
table.cast { 
margin: auto; 
        }
