<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  {% if site.author %}
    <meta name="author" content="{{ site.author }}">
  {% endif %}
  <meta name="description" content="a webcomic">
  <meta name="keywords" content="webcomic">
  
  <link href="{{ site.baseurl }}/css/main.css" media="screen, projection" rel="stylesheet" type="text/css">
  
</head>
