---
layout: default
---
         <p id="main">         
          {% if page.next_in_category %}
  			  <a href="{{ site.baseurl }}{{ page.next_in_category }}">
  			 {% endif %}
         <img src="{{ site.baseurl }}/{{ page.pagesrc }}" alt="{{ page.pagealt }}" title="{{ page.pagealt }}" class="center">
         {% if page.next_in_category %}           
            </a>
  			 {% endif %}
  			 <br/>
          This is where the transcripts will go.        
         </p>

<!--Navigation-->
         <nav id="navlinks">
<!--link to first -->
 			  {% if page.previous_in_category %}
  			  <a href="{{ site.baseurl }}{{ page.first_in_category }}">
  			  {% if page.isenglish %}First Comic{% else %}Begin{% endif %}
  			  </a>
  			 {% endif %}
  			
<!-- link to previous -->
  			    {% if page.previous_in_category %}
  			    <a href="{{ site.baseurl }}{{ page.previous_in_category }}">
  			    {% if page.isenglish %}Previous Comic{% else %}Vorige strip{% endif %}
  			  </a>
  			  {% endif %}

<!-- link to next -->
			  {% if page.next_in_category %}
  			  <a href="{{ site.baseurl }}{{ page.next_in_category }}">
  			  {% if page.isenglish %}Next Comic{% else %}Volgende strip{% endif %}
  			  </a>
  			  {% endif %}
  			  			
<!-- link to last -->
			  {% if page.next_in_category %}
  			  <a href="{{ site.baseurl }}{{ page.last_in_category }}">
  			  {% if page.isenglish %}Last Comic{% else %}Einde{% endif %}
   			 </a>
   			 {% endif %}
               
         </nav>

